<section class='realtime__title'>
	<h1> Productos </h1>
	<h2>en tiempo real</h2>
</section>

<section class='realtime__main'>

	<article>
		<ul id="productList">
			{{#each products}}
			<li>Product
				{{id}}:
				{{title}}
				"{{description}}"
				{{#if stock}}
				(Hay stock)
				{{else}}
				(No hay producto disponible)
				{{/if}}
			</li>
			{{/each}}
		</ul>
	</article>

	<form action="/api/product" method='post' class='realtime__form' id='realTimeProduct'>
		Title:
		<input type='text' id='title' name='title' required /><br />
		Description:
		<input type='text' id='description' name='description' required /><br />
		Price:
		<input type='number' id='price' name='price' required /><br />
		Code:
		<input type='text' id='code' name='code' required /><br />
		Stock:
		<input type='number' id='stock' name='stock' required /><br />
		thumbnail:
		<input type='file' id='thumbnail' name='thumbnail' /><br />

		<button type='submit' class='realtime__btn'>Enviar</button>
	</form>
</section>

{{!--
<script src='/socket.io/socket.io.js'></script> --}}
{{!--
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
	integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
--}}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
	integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script defer type="module">

	const wsServer = `ws://localhost:8080`;
	const socketClient = io(wsServer);

	//get FORM
	const formProduct = document.getElementById('realTimeProduct')
	formProduct.addEventListener('submit', getNewProduct());


	socketClient.on('newProductConfirmation', (data) => {
		console.log('respuesta del websocket', data)
		const productList = document.getElementById('productList')
		productList.innerHTML += `<li>NUEVO!!! ${data.title} "${data.description}"</li>`;
	})

	async function getNewProduct(e) {
		e.preventDefault();
		const title = formProduct['title'].value;
		const description = formProduct['description'].value;
		const price = formProduct['price'].value;
		const code = formProduct['code'].value;
		const stock = formProduct['stock'].value;

		const newProduct = { title: title, description: description, price: +price, code: code, stock: +stock }
		console.log(newProduct)
		await socketClient.emit('newProduct', newProduct);



		return newProduct;

	}


</script>